<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SizeConfigurationSection" type="ViewModel.Configs.Size.SizeConfigurationSection, ViewModel"/>
    <section name="PathConfigurationSection" type="ViewModel.Configs.Path.PathConfigurationSection, ViewModel"/>
    <section name="LogicConfigurationSection" type="ViewModel.Configs.Logic.LogicConfigurationSection, ViewModel"/>
  </configSections>

  <SizeConfigurationSection>
    <SizeCollection>
      <add SizeType="Window"
           Width="500"
           Height="500" 
           Top="auto"
           Left="auto"
           WindowState="0"/>
    </SizeCollection>
  </SizeConfigurationSection>

  <PathConfigurationSection>
    <PathCollection>
      <add PathType="Input" Path="\..\..\Resours\Shapes.png" />
      <add PathType="Output" Path="\..\..\Result" />
    </PathCollection>
  </PathConfigurationSection>

  <LogicConfigurationSection>
    <LogicElement 
      Matrix="3" 
      Sigma="1.41" 
      RGB="false" />
  </LogicConfigurationSection>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


</configuration>